@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/img/snow.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    margin-top: -40rem;
    font-weight: normal;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1rem;
    margin: 2rem; 
    font-weight: bold;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.6rem;
}